# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Lambda deployment package
lambda_function.zip

# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log

# Local .env or variable overrides
*.tfvars
*.tfvars.json
.env

# OS and editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Logs
*.log

# Virtual environment
venv/
